/* Color Codes - Light Grey e6e6e6 blackish 1e1e1e darkgrey 848383 redish EB3f3f */
/* Banner Code */

h1 {margin: 0px;
    text-align: center;
}

body {background-color: #848383;}

/* Navigation Code */

nav {background-color:#EB3F3F;
    font-family: open sans;
    margin: 0px;
    text-align: right;
    font-size: 125%;
    padding: 5px;
    padding-right: 15px;
    text-decoration: none;
    border-bottom-color: black;
    border-bottom-width: 3;
}
 
nav a {color: white;
       text-decoration: none;
}
  
nav a:hover {color:#848383;
             transition: .3s ease;
}
             
/* Articles Code */

.wrapper {

  background-color: white;
  box-shadow: 10px -10px 10px -10px black;
  width: 800px;
  border: 2px black;
  padding: 10px;
  

}

h2 {/* Article Page Headline */

    font-size: 56px;
}

h4 { /* Author */

  font-size: 12px;
  font-style: italic;
}

h5{/* Date */

  font-size: 12px;
  font-style: italic;
  border-bottom: 1px solid black;
}

article {
  margin-top: 10px;
}

* {margin: 0; padding: 0;}

    a {text-decoration: none;
    color: black;
}

div {
  margin: 20px;
}

ul {
  list-style-type: none;
  width: 700px;
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
  float: left;
  margin: 0 15px 0 0;
  max-width: 200px;
  border-radius: 15px
}

li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

li {
  padding: 10px;
  overflow: auto;
  border-bottom: 1px black solid;
}

img {
  max-width: 500px;
  margin: 10px;
  border-radius: 5px;
}
             
/* Footer Code */
             
footer {background-color:#EB3f3f;
        color: #000000;
        font-size: 80%;
        padding: 5px;
        text-align: left;
        margin: 0px;
}     
        
footer a {color: white;
          text-decoration: none;
}
       
footer a:hover {color:#848383;
                transition: .3s ease;
}